body {
  background-color: rgba(75, 185, 48, 0.473);
   border-color: black;
  border-width: 8px;
  border-style: solid;
  border-radius: 1px;
  

}

h1 {
  color: navy;
  font-family: times sans-serif;
}

h2 {
  font-family: sans-serif;
  color: navy;
}

img {
  float: left;
  width: 200px;
  margin: 20px;
  border-color: mediumseagreen;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

p {
  text-align: left;
  font-family: inherit;
  font-size: 25px;
  
a {
  
  
  
  
